<h3>Highcharts by Amilcar</h3>
<p>Ma mission était d'intégrer un widget HIGHCHART dans cet environnement ANGULAR</p>

<div id="container" style="height: 400px; min-width: 310px"></div>


<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
 
<p>Voir mon premier projet Angular : <a href="http://todo-list.amilcarjoao.com/" target="blank">[CLIQUEZ ICI] </a></p>